<!DOCTYPE HTML>
<html ng-app="DooinosApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/bulma/css/bulma.css') }}">
    <script type=text/javascript src="{{ url_for('static', filename='bower_components/angular/angular.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='bower_components/angular-route/angular-route.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='bower_components/angular-resource/angular-resource.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='application.js') }}"></script>
    <base href="/" />

    <title>Dooino</title>
  </head>
  <body>
    <section class="section">
      <div class="container" ng-view></div>
    </section>
  </body>
</html>
