<form>
  <h3 class="title is-3">If</h3>
  <div class="control select">
    {% raw %}
    <select ng-disabled="!outs.length" ng-model="selectedOut" ng-change="handleOut()">
      <option value="">Select action...</option>
      <option ng-repeat="out in outs" value="{{ out.id }}" data-dooino="{{ out.dooino }}"> {{ out.name }}</option>
    </select>
    {% endraw %}
  </div>

  <h3 class="title is-3">Is</h3>
  <div class="columns">
    <div class="column is-one-fifth">
      <div class="control select">
        <select ng-model="selectedOperation">
          <option value="0">equals</option>
          <option value="1">greater</option>
          <option value="2">smaller</option>
        </select>
      </div>
      <div class="control">
        <input type="text" ng-model="selectedValue" class="input is-medium">
      </div>
    </div>
  </div>

  <h3 class="title is-3">Then</h3>
  <div class="control select">
    {% raw %}
    <select ng-disabled="!ins.length" ng-model="selectedIn" ng-change="handleIn()">
      <option value="">Select action...</option>
      <option ng-repeat="in in ins" value="{{ in.id }}" data-dooino="{{ in.dooino }}"> {{ in.name }}</option>
    </select>
    {% endraw %}
  </div>
</form>

<div>
  <button ng-disabled="!selectedIn || !selectedOut || !selectedValue || !selectedOperation" class="button is-success" ng-click="createRoutine()">Create</button>
<div>

<div>
  <a href="/" class="button">Back</a>
<div>
