<form>
  <h3 class="title is-3">I want my</h3>
  <div class="control select">
    {% raw %}
    <select ng-model="selectedDooino" ng-options="dooino.name as dooino.name for dooino in dooinos" ng-change="loadCapabilities(dooino)">
      <option value="">Select device...</option>
    </select>
    {% endraw %}
  </div>

  <h3 class="title is-3">To</h3>
  <div class="control select">
    {% raw %}
    <select ng-disabled="!capabilities.length" ng-model="selectedCapability" ng-options="capability.id as capability.name for capability in capabilities" ng-change="loadDooinos()">
      <option value="">Select action...</option>
    </select>
    {% endraw %}
  </div>

  <h3 class="title is-3">If</h3>
  <div class="control select">
    <select class="is-medium">
      <option>Dooino-xxx</option>
    </select>
  </div>

  <h3 class="title is-3">Reads</h3>
  <div class="columns">
    <div class="column is-one-fifth">
      <div class="control">
        <input type="text" class="input is-medium">
      </div>
    </div>
  </div>
</form>

<div>
  <a href="/" class="button is-success">Create</a>
<div>

<div>
  <a href="/" class="button">Back</a>
<div>
